 body {
     background-image: url("./images/bg.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     color: greenyellow !important;
     font-family: comic-sans;

 }

 @font-face {
     font-family: 'comic-sans';
     /*a name to be used later*/
     src: url('./fonts/comicz.ttf');
     /*URL to font*/
 }

 #bgimg {
     position: absolute;
     top: 0;
     left: 0;
     opacity: .2;
     height: 100%;
     transform: rotate(90deg);
 }

 #headingbg {
     position: absolute;
     right: 47.5vw;
     bottom: 0px;
     width: 5vw;
     filter: invert();
 }

 .container {
     background-color: rgba(0, 0, 0, .35);
 }

 #heading {
     position: relative;
     background-color: rgba(0, 0, 0, 0);
 }