 body {
     background-color: rgba(0, 0, 0, 1);
     background-repeat: no-repeat;
     background-size: cover;
     color: greenyellow !important;

 }

 #bgimg {
     position: absolute;
     top: 0;
     left: 0;
     opacity: .2;
     height: 100%;
     transform: rotate(90deg);
 }

 #headingbg {
     position: absolute;
     right: 47.5vw;
     bottom: 0px;
     width: 5vw;
     filter: invert();
 }

 .container {
     background-color: rgba(0, 0, 0, 0);
 }

 #heading {
     position: relative;
     background-color: rgba(0, 0, 0, 0);
 }